<template>
  <main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Home</li>
      <li class="breadcrumb-item">
        <a href="#">Admin</a>
      </li>
      <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <div class="container-fluid">
      <!-- Ejemplo de tabla Listado -->
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Categorías
          <button
            type="button"
            @click="abrirModal('Registrar')"
            class="btn btn-secondary"
          >
            <i class="icon-plus"></i>&nbsp;Nuevo
          </button>
        </div>
        <div class="card-body">
          <div class="form-group row">
            <div class="col-md-6">
              <div class="input-group">
                <select v-model="criterio" class="form-control col-md-3" id="opcion" name="opcion">
                  <option value="nombre">Nombre</option>
                  <option value="descripcion">Descripción</option>
                </select>
                <input
                  v-model="buscar"
                  v-validate="'alpha_spaces|max:100'"
                  type="text"
                  name="buscar"
                  class="form-control"
                  placeholder="Texto a buscar"
                >
                <button
                  :disabled="errors.collect('buscar').length !==0"
                  @click="Buscar"
                  type="submit"
                  class="btn btn-primary"
                >
                  <i class="fa fa-search"></i> Buscar
                </button>
              </div>
            </div>
            <div class="col-md-6">
              <ul>
                <li v-for="error in errors.collect('buscar')" :key="error">{{error}}</li>
              </ul>
            </div>
          </div>
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Opciones</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Estado</th>
              </tr>
            </thead>
            <paginate name="categorias" :list="categorias" :per="6" tag="tbody">
              <tr v-for="categoria in paginated('categorias')" :key="categoria.id">
                <td>
                  <button
                    @click="abrirModal('Actualizar',categoria)"
                    type="button"
                    class="btn btn-warning btn-sm"
                  >
                    <i class="icon-pencil"></i>
                  </button> &nbsp;
                  <button
                    v-if="categoria.activo"
                    @click="Activo(categoria)"
                    type="button"
                    class="btn btn-danger btn-sm"
                  >
                    <i class="icon-trash"></i>
                  </button>
                  <button
                    v-else
                    @click="Activo(categoria)"
                    type="button"
                    class="btn btn-success btn-sm"
                  >
                    <i class="icon-check"></i>
                  </button>
                </td>
                <td v-text="categoria.nombre"></td>
                <td v-text="categoria.descripcion"></td>
                <td>
                  <span v-if="categoria.activo == true" class="badge badge-success">Activo</span>
                  <span v-else class="badge badge-danger">Inactivo</span>
                </td>
              </tr>
            </paginate>
          </table>
          <div v-if="categorias.length >= 6">
            <paginate-links
              for="categorias"
              :classes="{'ul':'pagination','li':'page-item','a':'page-link'}"
              :show-step-links="true"
            ></paginate-links>
          </div>
        </div>
      </div>
      <!-- Fin ejemplo de tabla Listado -->
    </div>
    <!--Inicio del modal agregar/actualizar-->
    <div
      class="modal fade"
      :class="{'mostrar':modal}"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      style="display: none;"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-primary modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" v-text="titulo"></h4>
            <button
              @click="cerrarModal()"
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <form action method="post" enctype="multipart/form-data" class="form-horizontal">
              <div class="form-group row">
                <label class="col-md-3 form-control-label" for="text-input">Nombre</label>
                <div class="col-md-9">
                  <input
                    name="nombre"
                    v-model="nombre"
                    v-validate="'required|alpha_spaces|min:4|max:50'"
                    type="text"
                    class="form-control"
                    placeholder="Nombre de categoría"
                  >
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label" for="email-input">Descripción</label>
                <div class="col-md-9">
                  <input
                    nombre="descripcion"
                    v-model="descripcion"
                    v-validate="'alpha_spaces|min:4|max:100'"
                    type="text"
                    id="descripcion"
                    name="descripcion"
                    class="form-control"
                    placeholder="Descripción de la categoria"
                  >
                </div>
              </div>
            </form>
          </div>
          <ul>
            <li
              v-for="error in errors.collect('nombre')"
              :key="error"
            >{{error}}</li>
            <li
              v-for="error in errors.collect('descripcion')"
              :key="error"
            >{{error}}</li>
          </ul>
          <div class="modal-footer">
            <button
              type="button"
              @click="cerrarModal()"
              class="btn btn-secondary"
              data-dismiss="modal"
            >Cerrar</button>

            <button
              v-if="titulo=='Registrar categoría'"
              :disabled="errors.collect('nombre').length !==0 || errors.collect('descripcion').length !=0"
              @click="Registrar"
              type="button"
              class="btn btn-primary"
            >Guardar</button>

            <button
              v-else
              :disabled="errors.collect('nombre').length !==0 || errors.collect('descripcion').length !=0"
              @click="Actualizar"
              type="button"
              class="btn btn-primary"
            >Actualizar</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!--Fin del modal-->
  </main>
</template>

<script>
export default {
  data() {
    return {
      id: 0,
      nombre: "",
      descripcion: "",
      categorias: [],
      buscar: "",
      criterio: "nombre",
      paginate: ["categorias"],
      modal: 0,
      titulo: ""
    };
  },
  methods: {
    Limpiar() {
      let me = this;
      me.id = 0;
      me.nombre = null;
      me.descripcion = null;
    },
    abrirModal(accion, categoria = []) {
      let me = this;

      switch (accion) {
        case "Registrar": {
          me.modal = 1;
          me.titulo = "Registrar categoría";
          me.Limpiar();
          break;
        }
        case "Actualizar": {
          me.id = categoria["id"];
          me.nombre = categoria["nombre"];
          me.titulo = "Actualizar categoría";
          me.descripcion = categoria["descripcion"];
          me.modal = 1;
          break;
        }
      }
    },
    cerrarModal() {
      let me = this;
      me.modal = 0;
      me.Limpiar();
    },
    mensajeError(mensaje) {
      this.$swal({
        type: "error",
        title: mensaje
      });
    },
    mensajeOK(mensaje) {
      let me = this;
      this.$swal({
        type: "success",
        title: mensaje
      });
      me.Mostrar();
      me.cerrarModal();
    },
    Mostrar() {
      let me = this;
      axios
        .get("/categoria")
        .then(function(response) {
          // handle success
          me.categorias = response.data;
        })
        .catch(function(error) {
          // handle error
          me.mensajeError(error);
        })
        .then(function() {
          // always executed
        });
    },
    Buscar() {
      let me = this;
      url =
        "/categoria/buscar/?buscar=" + me.buscar + "&criterio=" + me.criterio;
      axios
        .get(url)
        .then(function(response) {
          me.categorias = response.data;
        })
        .catch(function(error) {
          me.mensajeError(error);
        })
        .then(function() {});
    },
    Registrar() {
      let me = this;
      axios
        .post("/categoria/registrar", {
          nombre: me.nombre,
          descripcion: me.descripcion
        })
        .then(function(response) {
          me.mensajeOK("Categoría registrada correctamente");
        })
        .catch(function(error) {
          me.mensajeError(error);
        })
        .then(function() {});
    },
    Actualizar() {
      let me = this;
      axios
        .put("/categoria/actualizar", {
          id: me.id,
          nombre: me.nombre,
          descripcion: me.descripcion
        })
        .then(function(response) {
          me.mensajeOK("Categoria actualizada correctamente");
        })
        .catch(function(error) {
          me.mensajeError(error);
        })
        .then(function() {});
    },
    Activo(categoria) {
      let me = this;
      axios
        .put("categoria/activo", {
          id: categoria.id,
          activo: categoria.activo
        })
        .then(function(response) {
          if (categoria.activo == true) {
            me.mensajeOK("Categoria desactivada correctamente");
          } else {
            me.mensajeOK("Categoria activada correctamente");
          }
        })
        .catch(function(error) {})
        .then(function() {});
    }
  },
  mounted() {
    this.Mostrar();
  }
};
</script>
<style>
.modal-content {
  width: 100% !important;
  position: absolute !important;
}
.mostrar {
  display: list-item !important;
  opacity: 1 !important;
  position: absolute !important;
  background-color: #3c29297a !important;
}
</style>
